<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
	<connectionStrings>
		</connectionStrings>
	 <appSettings>
    <add key="ssrsTargetReportFolder" value="GPMS_Pro" />
    <add key="ssrsReportServer" value="172.195.0.210" />
    <add key="ssrsReportServerUserName" value="sql" />
    <add key="ssrsReportServerPassword" value="123Pakistan$" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
	<add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IGPMSService" maxReceivedMessageSize="2147483647" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:05:00" sendTimeout="00:05:00"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:63995/GPMSService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IGPMSService" contract="GPMSService.IGPMSService"
        name="BasicHttpBinding_IGPMSService" />
		<!--<endpoint address="http://172.195.0.150:97/GPMSService.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IGPMSService" contract="GPMSService.IGPMSService"
        name="BasicHttpBinding_IGPMSService" />-->
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
   
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
